* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.url-add {
  margin-bottom: 3em;
  width: 40em;
}

.url-add .header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 13em;
}

.url-add .header .links {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em;
}

.links a {
  text-decoration: none;
  color: #474747;
  padding-left: 1em;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s all ease-in-out;
}

.links a:hover {
  text-decoration: underline;
}

.url-add h1 {
  margin-bottom: 1em;
  font-size: 45px;
  font-weight: 800;
  text-decoration: underline;
  text-transform: capitalize;
  color: #474747;
  letter-spacing: 1px;
}

.url-add form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  width: 100%;
}

.url-add form .input-url {
  border: 2px solid #474747;
  height: 100%;
  width: 74%;
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px;
  outline: none;
}

.url-add form button {
  border: 2px solid #474747;
  width: 24%;
  height: 100%;
  font-size: 15px;
  font-weight: 700;
  color: #474747;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.url-display {
  width: 40em;
}

.url-display ul {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.url-display ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.url-display ul li .url {
  display: flex;
  align-items: flex-start;
}

.url-display ul li .url a {
  padding-left: 0.5rem;
  text-decoration: none;
  font-size: smaller;
  font-weight: 600;
  color: #474747;
}

.url-display ul li .url p {
  padding: 1em 1em 1em 0;
  font-size: x-small;
  color: gray;
}

.url-display ul li .url {
  width: 75%;
}

.url-display ul li .url-buttons {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.url-display ul li .url-buttons button {
  height: 2.6em;
  width: 5em;
  background: rgb(243, 243, 243);
  border: none;
  border-radius: 3px;
  font-size: small;
  font-weight: 700;
  color: #474747;
  margin-left: 1rem;
}

.url-buttons i {
  margin-left: 1.5em;
}

.copied {
  background: #4caf50 !important;
  color: white !important;
  transition: 0.3s all ease-in-out;
}

/* Stats Styling */

.stats .all-links {
  display: flex;
  justify-content: space-between;
}

.stats .all-links a,
.stats .all-links button {
  border: none;
  background-color: #f3f3f3;
  padding: 1em 1.5em;
  font-size: small;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  color: #474747;
}

.stats .all-links button.views {
  background-color: transparent;
  margin-right: 1em;
  border: none;
  padding: 1em 1.5em;
  font-size: small;
  font-weight: 600;
  border-radius: 5px;
  color: #474747;
}

h1.url-title {
  margin-top: 1.5em;
  text-transform: lowercase;
  text-decoration: none;
}

p.url-description {
  color: gray;
}

.chart {
  margin-top: 3em;
}

button.trash {
  background-color: transparent;
}
