<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="container">
      <div class="url-add">
        <h1>URL Shortener</h1>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Save</button>
        </form>
      </div>
      <div class="url-display">
        <ul>
          {% for link in links %}
          <img src="{{ link.image }}" width="15" />
          <li>
            <a href="{% url 'redirect_view' short_code=link.short_code %}"
              >{{ link.url }}</a
            >
          </li>
          <button>{{ link.views_count }} views</button>
          <button>copy</button>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
