{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Stats</title>
  </head>
  <body>
    <input
      id="url-link{{ link.short_code }}"
      hidden
      value="http://localhost:8000/home/v/{{ link.short_code }}"
    />
    <div class="container">
      <div class="url-add">
        <div class="header">
          <h1>URL Shortener</h1>
          <div class="links">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Signup</a>
            {% endif %}
          </div>
        </div>
        <div class="stats">
          <div class="all-links">
            <a href="{% url 'home' %}">
              <i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back to
              all links
            </a>
            <div class="view-copy">
              <button class="views">{{ link.views_count }} views</button>
              <button
                id="copy-btn{{ link.short_code }}"
                onclick="clipboard('{{ link.short_code }}')"
              >
                copy
              </button>
            </div>
          </div>
          <h1 class="url-title">{{ link.url }}</h1>
          <p class="url-description">{{ link.description }}</p>
          <div class="chart">
            <canvas id="myChart"></canvas>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script>
            	document.addEventListener('DOMContentLoaded', function() {
            		var ctx = document.getElementById('myChart').getContext('2d');

            		var data = {
            				labels: {{ data.labels|safe }},
            				datasets: [{
            						label: 'Views',
            						data: {{ data.values|safe }},
            						borderWidth: 2,
            						fill: true,
            						tension: 0.1
            				}]
            		};

            		var options = {
            				scales: {
            						y: {
            								beginAtZero: true
            						}
            				}
            		};

            		var myChart = new Chart(ctx, {
            				type: 'line',
            				data: data,
            				options: options
            		});
            });
          </script>
        </div>
      </div>
    </div>
    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
