{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'accounts.css' %}" />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="container">
      <h1 class="heading">URL Shortener</h1>
      <div class="buttons">
        <div class="ls-buttons">
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'signup' %}">Signup</a>
        </div>
        <a href="{% url 'home' %}">I don't want to create an account!</a>
      </div>
    </div>
  </body>
</html>
