{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <h1 class="heading">URL Shortener</h1>
      <h5>login</h5>
      <form method="post">
        {% csrf_token %} {{ form.username }} {{ form.password }}
        <button type="submit">Login</button>
        <p>
          Doesn't have an account yet? <a href="{% url 'signup' %}">Sign Up</a>
        </p>
      </form>
    </div>
  </body>
</html>
